body {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering (if needed) */
    min-height: 100vh;       /* Full viewport height for vertical centering */
    margin: 0;               /* Remove default margin */
}
.green{ 
    background-color: green;
}

.orange{
    background-color: orange;
}

.blue{
    background-color: blue;
}

.button {
    height: 35px;
    flex: 1;  /* ensures equal width distribution */
    text-align: center; /* centers content within buttons */
}

.container{
    width: 200px;
    display:flex;
    flex-direction: column;
    border:5px solid rgb(67, 54, 54); /* width | style | color */


}

.row{
    display:flex;
}

.display{
    text-align: end;
    background-color: #7FFFD4;
    flex-grow: 1;
    border: 3px solid rgb(67, 54, 54); /* width | style | color */
    padding-right: 3px;
}
